extends /layout

block scripts
	script(src="/javascripts/Models/Database.js")
	script(src="/javascripts/Collections/Databases.js")
	script(src="/javascripts/Models/DatabaseUser.js")
	script(src="/javascripts/Models/User.js")
	script(src="/javascripts/Models/Backup.js")
	script(src="/javascripts/Models/File.js")
	script(src="/javascripts/Collections/DatabaseUsers.js")
	script(src="/javascripts/Collections/Backups.js")
	script(src="/javascripts/Collections/Users.js")
	script(src="/javascripts/Models/Server.js")
	script(src="/javascripts/Collections/Servers.js")
	script(src="/javascripts/Views/DatabasesView.js")
	script(src="/javascripts/Routers/DatabasesRouter.js")
	script().
		(function() {
			var app = new App.Routers.DatabasesRouter();
			Backbone.history.start({pushState: false});
		})();

block templates
	include /genericResponse
	include /message
	include viewDatabase
	include addDatabase
	include listDatabaseUsers
	include addDatabaseUser
	include importDatabase
	include createBackup
	include listBackups
	include permissions
	include databaseMenu
	script(type="text/template", id="databases")
		!{json}
block content
	div.container
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h1
					span.title!= title
					div.pull-right
						div#actions
							a(href="/databases#add").btn.btn-success Add database
				hr
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				div#message
				div#content
					if(databases.length > 0)
						table.table.table-hover.table-striped.well
							thead
								tr
									th Name
									th Server
									th Type
									th Locked
									th Actions
							tbody
								each result in databases
									tr(class="database-#{result._id}")
										td 
											a(href="/databases#view/"+ result._id) #{result.database_name}
										td 
											a(href="/databases#showDatabases/" + result.server._id) #{result.server.name}
										td #{result.database_type}
										td(class="database-status-#{result._id}") #{result.isLocked}
										td
											div.btn-group
												-if(result.isLocked)
													a(href="/databases#unlock/" + result._id, class="btn btn-xs btn-warning ") Unlock
												-if(!result.isLocked)
													a(href="/databases#lock/" + result._id, class="btn btn-xs btn-success ") Lock
												a(href="/databases#view/" + result._id).btn.btn-xs.btn-primary View
												a(href="/databases#delete/" + result._id).btn.btn-xs.btn-danger Delete

					else
						div.alert.alert-info
							p No databases added