extends /layout

block scripts
	script(src="/javascripts/Models/Database.js")
	script(src="/javascripts/Collections/Databases.js")
	script(src="/javascripts/Models/Server.js")
	script(src="/javascripts/Collections/Servers.js")
	script(src="/javascripts/Views/DatabasesView.js")
	script(src="/javascripts/Routers/DatabasesRouter.js")
	script().
		(function() {
			var app = new App.Routers.DatabasesRouter();
			Backbone.history.start({pushState: false});
		})();

block templates
	include /genericResponse
	include /message
	include viewDatabase
	include addDatabase

block content
	div.container
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h1!= title
				hr
		div.row
			div.col-lg-2.col-md-2.col-sm-10.col-xs-10
				ul.nav.nav-pills.nav-stacked
					li.active
						a(href="/databases") Databases
					li.add
						a(href="/databases#add") Add database
			div.col-lg-10.col-md-10.col-sm-10.col-xs-10
				div#message
				div#content
					if(databases.length > 0)
						table.table.table-hover.table-bordered.table-striped
							thead
								tr
									th Name
									th Server
									th Type
									th Locked
									th Actions
							tbody
								each database in databases
									tr(class="database-#{database._id}")
										td 
											a(href="/databases#view/"+ database._id) #{database.database_name}
										td 
											a(href="/databases#showDatabases/" + database.server._id) #{database.server.name}
										td #{database.database_type}
										td(class="database-status-#{database._id}") #{database.isLocked}
										td
											div.btn-group
												-if(database.isLocked)
													a(href="/databases#unlock/" + database._id, class="btn btn-xs btn-warning ") Unlock
												-if(!database.isLocked)
													a(href="/databases#lock/" + database._id, class="btn btn-xs btn-success ") Lock
												a(href="/databases#view/" + database._id).btn.btn-xs.btn-primary View
												a(href="/databases#edit/" + database._id).btn.btn-xs.btn-info Edit
												a(href="/databases#delete/" + database._id).btn.btn-xs.btn-danger Delete

					else
						div.alert.alert-info
							p No databases added