extends /layout

block scripts
	script(src="/javascripts/Models/Server.js")
	script(src="/javascripts/Collections/Servers.js")
	script(src="/javascripts/Views/ServersView.js")
	script(src="/javascripts/Routers/ServersRouter.js")
	script().
		(function() {
			var app = new App.Routers.ServersRouter();
			Backbone.history.start({pushState: false});
		})();

block templates
	include /genericResponse
	include /message
	include viewServer
	include addServer
	script(type="text/template", id="servers").
		!{json}
block content
	div.container
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12
				h1!= title
				hr
		div.row
			div.col-lg-2.col-md-2.col-sm-10.col-xs-10
				ul.nav.nav-pills.nav-stacked
					li.active
						a(href="/servers") Servers
					li.add
						a(href="/servers#add") Add server
			div.col-lg-10.col-md-10.col-sm-10.col-xs-10
				div#message
				div#content
					if(servers.length > 0)
						table.table.table-hover.table-bordered.table-striped
							thead
								tr
									th Name
									th IP
									th OS
									th Actions
							tbody
								each server in servers
									tr(class="server-#{server._id}")
										td #{server.name}
										td #{server.ip}
										td #{server.os}
										td
											div.btn-group
												a(href="/servers#view/" + server._id).btn.btn-xs.btn-primary View
												a(href="/servers#edit/" + server._id).btn.btn-xs.btn-info Edit
												a(href="/servers#delete/" + server._id).btn.btn-xs.btn-danger Delete
					else
						div.alert.alert-info
							p No servers added